<table class="table table-bordered table-striped table-hover table-dark">
  <thead>
    <tr>
      <th class= "table-text-color gray" scope="col">Symbol</th>
      <th class= "table-text-color gray" scope="col">Date</th>
      <th class= "table-text-color" scope="col">Buy/Sell</th>
      <th class= "table-text-color blue" scope="col">IceL</th>
      <th class= "table-text-color blue" scope="col">S/L</th>
      <th class= "table-text-color" scope="col">Total</th>
      <th class= "table-text-color gray" scope="col">Size</th>
      <th class= "table-text-color gray" scope="col">Entry</th>
      <th class= "table-text-color blue" scope="col">Price</th>
      <th class= "table-text-color blue" scope="col">P/L%</th>
      <th class= "table-text-color green" scope="col">1R</th>
      <th class= "table-text-color green" scope="col">Target</th>
      <th class= "table-text-color green" scope="col">Shares</th>
      <th class= "table-text-color gray" scope="col">P/L</th>
      <th class= "table-text-color gray" scope="col">Wallet%</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do | position | %>
    <tr class="border">
      <td class= "table-text-color" scope="row"><%= link_to position.stock.symbol , edit_position_path(position) %></td>
      <td class= "table-text-color" scope="row"><%= position.created_at.to_date.strftime("%m/%d") %></td>
      <td class= "table-text-color" scope="row"><%= position.buy_sell%></td>
      <td class= "table-text-color" scope="row"><%= position.iceline.round(2) %></td>
      <td class= "table-text-color" scope="row">
        <% if position.stop_loss_hit %>
          <div class="stock_ticker_SL_hit"><%= position.stop_loss.round(2) %></div>
        <% else %>
          <%= link_to position.stop_loss.round(2), stop_hit_path(position), data: { confirm: "Are you sure you want to activate stop loss?"} , class: "text-white" %>
        <% end %>
      </td>
      <td class= "table-text-color" scope="row"><%= number_to_currency(position.total_amount) %></td>
      <td class= "table-text-color" scope="row"><%= position.size%></td>
      <td class= "table-text-color" scope="row"><%= position.entry.round(2)%></td>
      <td class= "table-text-color" id="stock_current_price" scope="row"><%= position.current_price.round(2) %></td>
      <td class= "table-text-color" scope="row"><%= ((position.gain_loss_percentage)*100).round(2) %>%</td>
      <td class= "table-text-color" scope="row">
        <% if position.r1_hit%>
         <div class="stock_ticker_R_hit"><%= position.r1.round(2) %></div>
         <% else %>
         <%= position.r1.round(2) %>
        <% end %>
      </td>
      <td class= "table-text-color" scope="row">
        <% if position.target_hit%>
         <div class="stock_ticker_R_hit"><%= position.target.round(2) %></div>
         <% else %>
         <%= position.target.round(2) %>
        <% end %>
      </td>
      <td class= "table-text-color" scope="row"><%= position.remaining_size%></td>
      <td class= "table-text-color" scope="row">
        <% if position.p_l_closed != "N/A" %>
          <%= number_to_currency(position.p_l_closed) %>
          <% else %>
          <%= position.p_l_closed %>
        <% end %> </td>
      <td class= "table-text-color" scope="row"><%=position.portfolio_return%></td>
    </tr>
    <% end %>
  </tbody>
 </table>
