<!-- Updates positions each time the page is refreshed -->
<% PriceUpdateJob.perform_now %>
<% RefreshAllPlJob.perform_now %>


<div class="container-fluid" >
  <div class="d-flex justify-content-between">
    <div class="profile-overview d-flex text-center">
      <div class="personnal-info">
        <h1 class="mb-3 text-center"><%= @user.nickname %></h1>
        <h2> Equity curve coming soon..</h2>
      </div>
    </div>
    <div class="profile-overview d-flex justify-content-around">
      <div>
        <% positions = Position.where(user_id: @user) %>
        <% count = 0 %>
        <% positions.each do | position | %>
          <% if position.remaining_size == 0%>
           <% count += 1 %>
          <% end %>
        <% end %>
        <p>Wallet: <%= number_to_currency(@user.cash + @user.equity) %></p>
        <p>Equity: <%= number_to_currency(@user.equity) %></p>
        <p>Cash: <%= number_to_currency(@user.cash) %></p>
        <p>Positions: <%= @positions.count - count %></p>
      </div>
      <div>
        <div class="d-flex">
          <div><p>P/L: <%= number_to_currency((@user.cash + @user.equity)-(100000)) %></p></div>
          <% if @user == current_user%>
            <%= link_to(my_perform_now_path) do %>
              <i class="fas fa-sync pl-2" id="refresh-cartitem-status"></i>
            <% end %>
          <% end %>
        </div>
        <% if @user == current_user%>
          <p><%= link_to "Delete my wallet", no_wallet_path, data: { confirm: 'Are you sure you want to delete your wallet?' } %></p>
          <p><%= link_to "Restart my wallet", reset_path, data: { confirm: 'Are you sure you want to reset your wallet?' } %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'table' %>
  <p class="text-center"><%= link_to "+ Add a position", new_position_path %></p>

  <div class="goldbar"></div>
</div>
