<div class="text-center">
  <h1>Profile Page</h1>
</div>

  <!-- Updates positions each time the page is refreshed -->
  <% @positions.each do | position | %>
    <% position.gain_loss_closed %>
  <% end %>

<div class="container-fluid" style="width:90%">
  <div class="profile-overview">
    <div class="info">
      <p>Name: <%= @user.nickname %></p>
      <p>Description: <%= @user.description %></p>
    </div>
    <div class="info">
      <p>Sector: <%= @user.category %></p>
      <p>Amount of Position: <%= @positions.count %></p>
    </div>
    <div class="info">
      <div>
        <p>Cash: <%= number_to_currency(@user.cash) %></p>
        <p>Active Cash: <%= number_to_currency(@user.equity) %></p>
        <p>Wallet: <%= number_to_currency(@user.cash + @user.equity) %></p>
      </div>
    </div>
      <p><%= link_to "Reset", reset_path, data: { confirm: 'Are you sure you want to delete?' } %></p>
  </div>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th class= "table-text-color" scope="col">Symbol</th>
        <th class= "table-text-color" scope="col">Date</th>
        <th class= "table-text-color" scope="col">Time</th>
        <th class= "table-text-color" scope="col">Buy/Sell</th>
        <th class= "table-text-color" scope="col">Size</th>
        <th class= "table-text-color" scope="col">Entry</th>
        <th class= "table-text-color" scope="col">Total</th>
        <th class= "table-text-color" scope="col">Bline</th>
        <th class= "table-text-color" scope="col">Target</th>
        <th class= "table-text-color" scope="col">Stop-Loss</th>
        <th class= "table-text-color" scope="col">Price</th>
        <th class= "table-text-color" scope="col">P/L%</th>
        <th class= "table-text-color" scope="col">1R</th>
        <th class= "table-text-color" scope="col">2R</th>
        <th class= "table-text-color" scope="col">3R</th>
        <th class= "table-text-color" scope="col">Shares</th>
        <th class= "table-text-color" scope="col">P/L</th>
        <th class= "table-text-color" scope="col">Wallet%</th>
      </tr>
    <thead>
      <tbody>
        <% @positions.each do | position | %>
        <tr class="border">
          <td class= "table-text-color" scope="row"><%= Stock.pluck[position.stock_id - 1][1]%></td>
          <td class= "table-text-color" scope="row"><%=position.created_at.to_date %></td>
          <td class= "table-text-color" scope="row"><%=position.created_at.to_time.to_s.split[1] %></td>
          <td class= "table-text-color" scope="row"><%=position.buy_sell%></td>
          <td class= "table-text-color" scope="row"><%=position.size%></td>
          <td class= "table-text-color" scope="row"><%= number_to_currency(position.entry)%></td>
          <td class= "table-text-color" scope="row"><%= number_to_currency(position.total_amount) %></td>
          <td class= "table-text-color" scope="row"><%= position.baseline %></td>
          <td class= "table-text-color" scope="row"><%= position.target %></td>
          <td class= "table-text-color" scope="row"><%= position.stop_loss %></td>
          <td class= "table-text-color" scope="row"><%= position.current_price %></td>
          <td class= "table-text-color" scope="row"><%= ((position.gain_loss_percentage)*100).truncate(2) %>%</td>
          <td class= "table-text-color" scope="row">
            <% if position.r1_hit%>
             <em><%= position.r1 %></em>
             <% else %>
             <%= position.r1 %>
            <% end %>
          </td>
          <td class= "table-text-color" scope="row">
            <% if position.r2_hit%>
             <em><%= position.r2 %></em>
             <% else %>
             <%= position.r2 %>
            <% end %>
          </td>
          <td class= "table-text-color" scope="row">
            <% if position.r3_hit%>
             <em><%= position.r3 %></em>
             <% else %>
             <%= position.r3 %>
            <% end %>
          </td>
          <td class= "table-text-color" scope="row"><%= position.remaining_size%></td>
          <td class= "table-text-color" scope="row">
            <% if position.p_l_closed != "N/A" %>
              <%= number_to_currency(position.p_l_closed) %>
              <% else %>
              <%= position.p_l_closed %>
            <% end %> </td>
          <td class= "table-text-color" scope="row"><%=position.portfolio_return%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="container text-center">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_ffdae"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/AMEX-SPY/" rel="noopener" target="_blank"><span class="blue-text">SPY Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "AMEX:SPY",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "2",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "hide_side_toolbar": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_ffdae"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>

<div class="container text-center">
    <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/screener/" rel="noopener" target="_blank"><span class="blue-text">Stock Screener</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
    {
    "width": 1100,
    "height": 512,
    "defaultColumn": "overview",
    "defaultScreen": "most_capitalized",
    "market": "america",
    "showToolbar": true,
    "colorTheme": "dark",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>
