<button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#EMA-<%= date.day %>">+</button>

<!-- Modal -->
<div class="modal fade modal-color" id="EMA-<%= date.day %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EMA 9-18</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for @ema do |f|%>
          <%= f.input :stock_id, collection: Stock.pluck(:symbol, :id), label: 'Symbol', input_html: {class: 'select2', id:"ema#{date.day}"} %>
          <%= f.input :date, as: :hidden, input_html: { value: date } %>
          <%= f.input :direction, collection: %w[Buy Sell] %>
          <%= f.submit 'add EMA 9-18', class: "btn-dark"%>
        <% end %>
      </div>
    </div>
  </div>
</div>