
<h1>Dashboard</h1>

<%= link_to "home", root_path %>

<div class="container">
  <div class="form row justify-content-center">

    <%= simple_form_for [@position] do |f| %>
    <%= f.input :stock_id, collection: Stock.pluck(:symbol, :id), label: 'Symbol' %>
    <%= f.input :entry_1, as: :check_boxes, collection: ['Buy', 'Sell'], include_blank: false, label: "Entry Action"  %>
    <%= f.input :quantity_1 %>

    <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
