

<div class="container text-center">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_ffdae"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/AMEX-SPY/" rel="noopener" target="_blank"><span class="blue-text">SPY Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "AMEX:SPY",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "2",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "hide_side_toolbar": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_ffdae"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>

<div class="container text-center">
  <h2>Broker</h2>
  <div class="d-inline form">
    <div class="col-sm-2" id="new_position">
      <%= simple_form_for [@position] do |f| %>
      <%= f.input :stock_id, collection: Stock.pluck(:symbol, :id), label: 'Symbol' %>
      <%= f.input :buy_sell, as: :radio_buttons, collection: ['Buy', 'Sell'], include_blank: false, label: "Entry Action"  %>
      <%= f.input :size %>
      <%= f.input :entry, label: "price", input_html: {readonly: "readonly"} %>
      <%= f.input :baseline %>
      <%= f.input :target, label: "Target Price" %>
      <%= f.input :stop_loss, label: "Stop Loss" %>



      <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


