<div class="container-hot-stocks">
  <div class="d-flex">
    <div class="card-hot-stocks">
      <div class="top">
        <div class="card-category text-center">Monday</div>
        <div class="d-flex justify-content-between">
          <p class="text-left"> <%= Date.today.monday.day %> </p>
          <div class="text-right"><%= render partial: 'new_hot_stock_green', locals: { date: Date.today.monday, direction: 'Buy' } %></div>
        </div>
        <div>
          <p>
            <% current_user.hot_stocks.where( date: Date.today.monday, direction: 'Buy').each do |hot_stock| %>
              <span class="stock_ticker_buy"><%= hot_stock.stock.symbol%></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <p></p>
        <div class="down text-right">
          <%= render partial: 'new_hot_stock_red', locals: { date: Date.today.monday, direction: 'Sell' } %>
        </div>
      </div>
      <div>
        <p>
          <% current_user.hot_stocks.where( date: Date.today.monday, direction: 'Sell').each do |hot_stock| %>
            <span class="stock_ticker_sell"><%= hot_stock.stock.symbol%></span>
          <% end %>
        </p>
      </div>
    </div>

    <div class="card-hot-stocks">
      <div class="top">
        <div class="card-category text-center">Tuesday</div>
        <div class="d-flex justify-content-between">
          <p class="text-left"><%= (Date.today.monday + 1).day %></p>
          <div class="text-right"><%= render partial: 'new_hot_stock_green', locals: { date: Date.today.monday + 1, direction: 'Buy' } %></div>
        </div>
        <div>
          <p>
            <% current_user.hot_stocks.where( date: Date.today.monday + 1, direction: 'Buy').each do |hot_stock| %>
              <span class="stock_ticker_buy"><%= hot_stock.stock.symbol%></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-between">

        <p></p>

        <div class="down text-right">
          <%= render partial: 'new_hot_stock_red', locals: { date: Date.today.monday + 1, direction: 'Sell' } %>
        </div>
      </div>
      <div>
        <p>
          <% current_user.hot_stocks.where( date: Date.today.monday + 1, direction: 'Sell').each do |hot_stock| %>
            <span class="stock_ticker_sell"><%= hot_stock.stock.symbol%></span>
          <% end %>
        </p>
      </div>
    </div>

    <div class="card-hot-stocks">
      <div class="top">
        <div class="card-category text-center">Wednesday</div>
        <div class="d-flex justify-content-between">
          <p class="text-left"><%= (Date.today.monday + 2).day %></p>
          <div class="text-right"><%= render partial: 'new_hot_stock', locals: { date: Date.today.monday + 2, direction: 'Buy' } %></div>
        </div>
        <div>
          <p>
            <% current_user.hot_stocks.where( date: Date.today.monday + 2, direction: 'Buy').each do |hot_stock| %>
              <span class="stock_ticker_buy"><%= hot_stock.stock.symbol%></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-between">

        <p></p>

        <div class="down text-right">
          <%= render partial: 'new_hot_stock', locals: { date: Date.today.monday + 2, direction: 'Sell' } %>
        </div>
      </div>
      <div>
        <p>
          <% current_user.hot_stocks.where( date: Date.today.monday + 2, direction: 'Sell').each do |hot_stock| %>
            <span class="stock_ticker_sell"><%= hot_stock.stock.symbol%></span>
          <% end %>
        </p>
      </div>
    </div>

    <div class="card-hot-stocks">
      <div class="top">
        <div class="card-category text-center">Thursday</div>
        <div class="d-flex justify-content-between">
          <p class="text-left"><%= (Date.today.monday + 3).day %></p>
          <div class="text-right"><%= render partial: 'new_hot_stock', locals: { date: Date.today.monday + 3, direction: 'Buy' } %></div>
        </div>
        <div>
          <p>
            <% current_user.hot_stocks.where( date: Date.today.monday + 3, direction: 'Buy').each do |hot_stock| %>
              <span class="stock_ticker_buy"><%= hot_stock.stock.symbol%></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-between">

        <p></p>

        <div class="down text-right">
          <%= render partial: 'new_hot_stock', locals: { date: Date.today.monday + 3, direction: 'Sell' } %>
        </div>
      </div>
      <div>
        <p>
          <% current_user.hot_stocks.where( date: Date.today.monday + 3, direction: 'Sell').each do |hot_stock| %>
            <span class="stock_ticker_sell"><%= hot_stock.stock.symbol%></span>
          <% end %>
        </p>
      </div>
    </div>

    <div class="card-hot-stocks">
      <div class="top">
        <div class="card-category text-center">Friday</div>
        <div class="d-flex justify-content-between">
          <p class="text-left"><%= (Date.today.monday + 4).day %></p>
          <div class="text-right"><%= render partial: 'new_hot_stock_green', locals: { date: Date.today.monday + 4, direction: 'Buy' } %></div>
        </div>
        <div>
          <p>
            <% current_user.hot_stocks.where( date: Date.today.monday + 4, direction: 'Buy').each do |hot_stock| %>
              <span class="stock_ticker_buy"><%= hot_stock.stock.symbol%></span>
            <% end %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-between">

        <p></p>

        <div class="down text-right">
          <%= render partial: 'new_hot_stock_red', locals: { date: Date.today.monday + 4, direction: 'Sell' } %>
        </div>
      </div>
      <div>
        <p>
          <% current_user.hot_stocks.where( date: Date.today.monday + 4, direction: 'Sell').each do |hot_stock| %>
            <span class="stock_ticker_sell"><%= hot_stock.stock.symbol%></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="goldbar">

  </div>
  <div class="d-flex">
    <%= render partial: 'widget_category_list'%>


    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div id="tradingview_ffdae"></div>
      <div class="tradingview-widget-copyright"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "width": 1090,
      "height": 675,
      "symbol": "AMEX:SPY",
      "interval": "W",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "2",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "hide_side_toolbar": false,
      "allow_symbol_change": true,
      "container_id": "tradingview_ffdae"
    }
      );
      </script>
    </div>
      <!-- TradingView Widget END -->
  </div>
</div>
