
<div class="container">
  <h1>Profile Page</h1>


  <div class="d-flex flex-column">

    <% @positions.each do | position | %>
    <div>
      <h4>Position <%= position.id %></h4>
      <p>
        User Id: <%= position.user_id %> <br>
        Entry: <%= position.entry_1 %> <br>
        Quantity: <%= position.quantity_1 %> <br>
        Symbol: <%= Stock.pluck[position.stock_id - 1][1] %> <br>
      </p>
    </div>
    <% end %>

  </div>

  <%= link_to "home", root_path %>
</div>
