<div class="text-center">
  <h1>Profile Page</h1>
</div>

<div class="container">
  <div class="row">
  <% @users.each do |user| %>
    <div class="col-12 col-md-4">
      <p><%= image_tag "https://image.flaticon.com/icons/svg/2919/2919573.svg", class: "avatar" %></p>
      <p><%= user.nickname %></p>
      <p><%= user.description %></p>
    </div>
  <% end %>
  </div>
</div>


<div class="py-4 px-5 mx-5 ">
  <div id="accordion" class=" d-flex flex-column align-items-center">
    <div class="card mt-3" style="width: 80%;">
      <div class="card-header" id="headingOne">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link text-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <div>
                <% @users.each do |user| %>
                  <p><%= image_tag "https://image.flaticon.com/icons/svg/2919/2919573.svg", class: "avatar" %> <%= user.nickname %></p>
                <% end %>
              </div>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body mx-4">
            <% @positions.each do | position | %>
              <h4>Position <%= position.id %></h4>
              <p>
                User Id: <%= position.user_id %> <br>
                Entry: <%= position.entry_1 %> <br>
                Quantity: <%= position.quantity_1 %> <br>
                Symbol: <%= Stock.pluck[position.stock_id - 1][1] %> <br>
                Baseline: <%= position.target %> <br>
                Target Price: <%= position.target %> <br>
                Stop Loss: <%= position.stop_loss %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_ffdae"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/AMEX-SPY/" rel="noopener" target="_blank"><span class="blue-text">SPY Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "AMEX:SPY",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "2",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "hide_side_toolbar": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_ffdae"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->

</div>

<div class="container text-center">
    <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/screener/" rel="noopener" target="_blank"><span class="blue-text">Stock Screener</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
    {
    "width": 1100,
    "height": 512,
    "defaultColumn": "overview",
    "defaultScreen": "most_capitalized",
    "market": "america",
    "showToolbar": true,
    "colorTheme": "dark",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
</div>
