<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<h1 class="text-center my-5">Scoreboard</h1>
<div class="container">
  <div class="summary" id="mainBar">
    <div class="item">
      <% total_wallet = 0 %>
      <% @users.each do | user | %>
        <% wallet = (user.equity + user.cash) %>
        <% total_wallet += wallet %>
      <% end %>
      Total Wallet: <%= number_to_currency(total_wallet) %>
    </div>
    <div class="item">
      Objective: xxxx
    </div>
    <div class="item">
      Aggregate Gains/Losses <%#= @users.count %>
    </div>
    <div class="item">
      Team Size: <%= @users.count %>
    </div>
    <div class="buttonScoreboard">
      Change
    </div>
  </div>


    <% sorted_users = @users.sort_by{|x| (x.cash+x.equity)}.reverse %>
    <% sorted_users.each do | user | %>

    <div class="summary">

        <div class="item">
          <strong>
            <%= link_to user.nickname, user_path(user)%>
          </strong>
        </div>
        <% positions = Position.where(user_id: user.id) %>
        <div class="item">
          Total Positions: <%= positions.count %>
        </div>
        <% count = 0 %>
        <% positions.each do | position | %>
          <% if position.remaining_size == 0%>
           <% count += 1 %>
          <% end %>
        <% end %>
        <div class="item">
          Active Positions: <%= count %>
        </div>
        <div class="item">
          <% wallet = (user.equity + user.cash) %>
          Wallet: <%= number_to_currency(wallet) %>
        </div>
    </div>
  <% end %>


</div>




















