<h1 class="text-center my-5">Scoreboard</h1>
<div class="py-4 px-5 mx-5 ">
  <div id="accordion" class=" d-flex flex-column align-items-center">
    <div class="card mt-3" style="width: 80%;">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link text-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <%= current_user.email %>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body mx-4" >
          <table style = "width:100%" class="border">
            <tr class="border">
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Buy/Sell</th>
              <th>Size</th>
              <th>Entry Price</th>
              <th>Total Amount ($)</th>
              <th>Baseline</th>
              <th>Target Price</th>
              <th>Stop Loss</th>
              <th>Current Stock Price</th>
              <th>Gain/Loss %</th>
              <th>Close price 1</th>
              <th>Close price 2</th>
              <th>Close price 3</th>
              <th>Remaining Shares</th>
              <th>Gain/Loss at close ($)</th>
              <th>Gain/Loss %</th>
            </tr>
            <% @positions.each do | position | %>
            <tr class="border">
              <th><%=position.user.email%></th>
              <th><%=position.created_at.to_date %></th>
              <th><%=position.created_at.to_time.to_s.split[1] %></th>
              <th><%=position.buy_sell%></th>
              <th><%=position.size%></th>
              <th><%= position.current_price %></th>
              <th>Total Amount ($)</th>
              <th><%= position.baseline %></th>
              <th><%= position.target %></th>
              <th><%= position.stop_loss %></th>
              <th><%= position.current_price %></th>
              <th>Gain/Loss %</th>
              <th><%# position.price * 1.3 %></th>
              <th><%# position.price * 1.7 %></th>
              <th><%# position.price * 2 %></th>
              <th><%# position.quantity_1 - (position.quantity_1 - x) %></th>
              <th>Gain/Loss at close ($)</th>
              <th>Gain/Loss %</th>
            </tr>
            <% end %>


          </table>

        </div>
      </div>
    </div>

  </div>
</div>




















