<%= render 'scroll_widget' %>
<div class="container">
  <div class="col">
    <div class="scoreboard-banner">
      <h1 class="text-center ">Scoreboard</h1>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="summary" id="mainBar">
    <div class="item">

      <% total_wallet_position = 0 %>
      <% @users.each do | user | %>
        <% positions = Position.all %>
        <% if positions.length > 0 %>
          <% total_wallet_position = positions.length %>
        <% end %>
      <% end %>
      Group positions: <%= (total_wallet_position) %>

    </div>
    <div class="item" data-toggle="modal" data-target="#exampleModal">
      Objective: 36
    </div>
    <div class="item">
        <p id="activate-btn"><%= link_to "Update Prices", perform_now_path %></p>
    </div>
    <div class="item">
        <% players = @users.count %>
        <% @users.each do |user| %>
          <% if user.cash == 0 %>
          <%  players -= 1 %>
          <% end %>
        <% end %>
      Team Size: <%= players %>
    </div>
  </div>


  <% sorted_users = @users.sort_by{|x| (x.cash+x.equity)}.reverse %>
  <% sorted_users.each do | user | %>
    <% if user.cash+user.equity > 0 %>
    <div class="summary">
      <div class="item">
        <strong>
          <%= link_to user.nickname, user_path(user)%>
        </strong>
      </div>
      <% positions = Position.where(user_id: user.id) %>
      <% count = 0 %>
      <% positions.each do | position | %>
        <% if position.remaining_size == 0%>
         <% count += 1 %>
        <% end %>
      <% end %>
      <div class="item">
        Active Positions: <%= positions.count - count %>
      </div>
      <div class="item">
        P/L: <%= number_to_currency((user.cash + user.equity)-(100000)) %>
      </div>
      <div class="item">
        <% wallet = (user.equity + user.cash) %>
        Wallet: <%= number_to_currency(wallet) %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>




















