<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<h1 class="text-center my-5">Scoreboard</h1>
<div class="container border">
  <% total_wallet = 0 %>
  <% @users.each do | user | %>
    <div class="container border my-2 py-2">
      <% wallet = (user.equity + user.cash) %>
      <% total_wallet += wallet %>
      <%= user.email%>
      <%= user.nickname %>
      <% positions = Position.where(user_id: user.id) %>
      Total Positions: <%= positions.count %>
      <% count = 0 %>
      <% positions.each do | position | %>
        <% if position.remaining_size == 0%>
         <% count += 1 %>
        <% end %>
      <% end %>
      Active Positions: <%= count %>
      Wallet: <%= number_to_currency(wallet) %>
    </div>
  <% end %>
  <div class="border m-2 p-2 w-25">
    total_wallet: <%= number_to_currency(total_wallet) %>
  </div>

</div>




















