<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container-banner" id=stock-bar-rolling>
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
</script>
</div>
<!-- TradingView Widget END -->
<div class="container">
  <div class="col">
    <div class="scoreboard-banner">
      <h1 class="text-center ">Scoreboard</h1>
    </div>
  </div>
 </div>
<div class="container">
  <div class="summary" id="mainBar">
    <div class="item">
      <% total_wallet = 0 %>
      <% @users.each do | user | %>
        <% wallet = (user.equity + user.cash) %>
        <% if wallet > 0 %>
          <% total_wallet += wallet %>
        <% end %>
      <% end %>
      Group Wallet: <%= number_to_currency(total_wallet) %>
    </div>
    <div class="item" data-toggle="modal" data-target="#exampleModal">
      Objective: <%= number_to_currency(Group.first.objective) %>
    </div>
    <div class="item">
        <% players = @users.count %>
        <% if @user.cash == 0 %>
        <%  players -= 1 %>
        <% end %>
        <% initialAmount = players*100000 %>
      Group Wallet P/L: <%= (((total_wallet-initialAmount)/initialAmount)*100).truncate(2) %>%
    </div>
    <div class="item">
      Team Size: <%= players %>
    </div>
    <!-- <div class="buttonScoreboard">
      Change
    </div> -->
  </div>


  <% sorted_users = @users.sort_by{|x| (x.cash+x.equity)}.reverse %>
  <% sorted_users.each do | user | %>
  <% if user.cash+user.equity > 0 %>
  <div class="summary">
    <div class="item">
      <strong>
        <%= link_to user.nickname, user_path(user)%>
      </strong>
    </div>
    <% positions = Position.where(user_id: user.id) %>
    <% count = 0 %>
    <% positions.each do | position | %>
      <% if position.remaining_size == 0%>
       <% count += 1 %>
      <% end %>
    <% end %>
    <div class="item">
      Active Positions: <%= positions.count - count %>
    </div>
    <div class="item">
      Equity: <%= user.equity %>
    </div>
    <div class="item">
      <% wallet = (user.equity + user.cash) %>
      Wallet: <%= number_to_currency(wallet) %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update group objective</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for Group.first do |f|%>
          <%= f.input :objective %>
          <%= f.submit %>
        <% end %>

      </div>

    </div>
  </div>
</div>


















