<%= render 'scroll_widget' %>
<div class="container">
  <div class="col">
    <div class="scoreboard-banner">
      <h1 class="text-center ">Scoreboard</h1>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="summary" >
    <div class="item">
      TSCO, AAPL, KRA, CGX
    </div>
  </div>
  <div class="summary" id="mainBar">
    <div class="item">

      <% total_wallet_position = 0 %>
      <% @users.each do | user | %>
        <% positions = Position.all %>
        <% if positions.length > 0 %>
          <% total_wallet_position = positions.length %>
        <% end %>
      <% end %>
      Group positions: <%= (total_wallet_position) %>

    </div>
    <div class="item" data-toggle="modal" data-target="#exampleModal">
      Objective: 36
    </div>
    <div class="item">
        <p id="activate-btn"><%= link_to "Update Scoreboard", perform_now_path %></p>
    </div>
    <div class="item">
        <% players = @users.count %>
        <% @users.each do |user| %>
          <% if user.cash == 0 %>
          <%  players -= 1 %>
          <% end %>
        <% end %>
      Team Size: <%= players %>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped table-dark table-hover">
      <thead class="text-center text-white">
        <tr>
          <th>Name</th>
          <th>Positions</th>
          <th>P/L</th>
          <th>Wallet</th>
        </tr>
      </thead>
      <tbody class="text-white text-center">
      <% sorted_users = @users.sort_by{|x| (x.cash+x.equity)}.reverse %>
      <% sorted_users.each do | user | %>
        <% if user.cash+user.equity > 0 %>
            <tr>
              <th><%= link_to user.nickname, user_path(user)%></th>
              <th><%= @positions.where(user_id: user.id).count %></th>
              <th><%= number_to_currency((user.cash + user.equity)-(100000)) %></th>
              <% wallet = (user.equity + user.cash) %>
              <th><%= number_to_currency(wallet) %></th>
            </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>















