<div class="header">
  <div class='top'>
    <%= link_to "/documents" do %>
      <p><i class="fas fa-chevron-left"></i>   BACK</p>
    <% end %>
  </div>
  <h1>Administratives</h1>
  <%=link_to " + Add a new source", new_document_path, class: "btn btn-primary btn-flat" %>
</div>
<% @administratives.each do |administrative| %>
  <div class="card-edu">
    <i class="fas fa-university"></i>
    <div class="card-edu-infos">
      <a href="<%= administrative.url %>"><h2><%= administrative.title %></h2></a>
      <p><%= administrative.content %></p>
    </div>
  </div>
<% end %>