<div class="header">
  <div class="top">
    <%= link_to "/documents" do %>
      <p><i class="fas fa-chevron-left"></i>   BACK</p>
    <% end %>
  </div>
  <h1>Articles</h1>
  <%=link_to " + Add a new source", new_document_path, class: "btn btn-primary btn-flat" %>
</div>
<% @articles.each do |article| %>
  <div class="card-edu">
    <i class="far fa-newspaper"></i>
    <div class="card-edu-infos">
      <a href="<%= article.url %>"><h2><%= article.title %></h2></a>
      <p><%= article.content %></p>
    </div>
  </div>
<% end %>