<div class="homedisplay">
  
  <h1>Documents</h1>
  
  <div class="container">
    <div class="icons">
      <%= link_to "/documents/administratives" do %>
        <i class="fas fa-university"></i>
        <p>Administrative</p>
      <% end %>
      <%= link_to "/documents/tools" do %>
        <i class="fas fa-tools"></i>
        <p>Tools</p>
      <% end %>
      <%= link_to "/documents/educations" do %>
        <i class="fas fa-book-reader"></i>
        <p>Education</p>
      <% end %>
      <%= link_to "/documents/portfolios" do %>
        <i class="fas fa-file-powerpoint"></i>
        <p>Portfolio</p>
      <% end %>
      <%= link_to "/documents/books" do %>
        <i class="fas fa-book"></i>
        <p>Books</p>
      <% end %>
    </div>
  </div>
  <%=link_to " + Add a new source", new_document_path, class: "btn btn-primary btn-flat" %>
</div>
  
    


</div>