<div class="container">
  <div class="form row justify-content-center">
    <%= simple_form_for @document do |f| %>
      <%= f.input :title %>
      <%= f.input :category, collection: ['Tool', 'Education', 'Administrative', 'Portfolio', 'Article'] %>
      <%= f.input :content, placeholder: 'Short description' %>
      <%= f.input :url %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
