
<div class="header">
  <%= link_to "/documents" do %>
    <p><i class="fas fa-chevron-left"></i>   BACK</p>
  <% end %>
  <h1>Videos</h1>
</div>
<% @videos.each do |video| %>
  <div class="card-edu">
    <iframe width="120" height="100"
      src="<%= video.url %>">
    </iframe>
    <div class="card-edu-infos">
      <a href="<%= video.url %>"><h2><%= video.title %></h2></a>
      <p><%= video.content %></p>
    </div>
  </div>
<% end %>